body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #225555;
}

h1 {
  text-align: center;
  color: #9ff;
}

#output {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #222;
  color: #ccc;
}

button {
  display: block;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
