body {
  font-family: Arial, sans-serif;
  background-color: #222;
}

button {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25vh;
  opacity: 50%;
}

#output {
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: #222;
  color: #ccc;
}

img {
  max-width: 90vw;
  max-height: 90vh;
  margin-bottom: 20vh;
  box-shadow: 0 0 80px 10px rgba(255, 255, 255, 0.3);
}

h3 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}
